body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #111;
    color: white;
    display: flex;
    padding: 0px 40px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    z-index: 10;
}

.logo {
    display: grid;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: auto;
    height: 150px;
}

/*Search bar setup*/
.search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    width: 380px;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 15px;
    font-size: 15px;
}

.search-box button {
    border: none;
    background: white;
    cursor: pointer;
    padding: 0 15px;
    font-size: 18px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 40px;
    background-color: white;
}

.welcome-section {
    padding: 40px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}

/*product card section in homepage*/
.product-cards-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    background-color: #fafafa;
}

.product-card {
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin-bottom: -20px;
}

.product-card h3 {
    margin-top: 10px;
    font-size: 24px;
}

.product-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.welcome-section h2 {
    font-size: 60px;
    margin-top:-20px;
}

.welcome-section p {
    font-size: 20px;
    margin-top:-20px;
}

main p {
    margin-top: 0;
    transform: translateY(-90%);
}

.button {
    display: inline-flex;
    padding: 20px 32px;
    background-color: #962525;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* Product Page setup */
.products-page {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.products-page h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 60px;
}

.category-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.category-row {
    display: grid;
    grid-template-columns: 280px 1fr 60px;
    align-items: center;
    padding: 35px 20px;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
    cursor: pointer;
}

.category-row:hover {
    background: #f8f8f8;
}

.category-row:hover h3 {
    color: #962525;
}

.category-row h3 {
    font-size: 36px;
    margin: 0;
}

.shoe-preview {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.shoe-preview img {
    width: 400px;
    height: auto;
    transition: 0.3s;
}

.category-row:hover .shoe-preview img {
    transform: scale(1.05);
}

.category-row i {
    font-size: 42px;
    justify-self: end;
    color: #111;
    transition: 0.3s;
}

.category-row:hover i {
    color: #962525;
    transform: translateX(8px);
}

/*Contact page setup*/
.contact-page{
    padding:60px;
}

.contact-title h2{
    font-size:64px;
    margin-bottom:20px;
    margin-top:-30px;
}

.contact-title p{
    font-size:20px;
    color:#555;
    margin-bottom:50px;
}

.contact-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.info-card{
    display:flex;
    align-items:center;
    gap:25px;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.icon{
    width:60px;
    height:60px;
    background:#962525;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:26px;
}

.contact-form h2{
    margin-bottom:25px;
}

.contact-form form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form {
    margin-top: -24px;
}

.contact-form input,
.contact-form textarea{
    padding:18px;
    font-size:16px;
    border:1px solid #ddd;
    border-radius:8px;
    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#962525;
}

.contact-form textarea{
    resize:none;
}

.contact-form button{
    width:210px;
    border:none;
    cursor:pointer;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;

}

footer {
    background-color: #222;
    color: white;
    padding: 20px 40px;
    text-align: center;
}