body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #111;
    color: white;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    display: grid;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: auto;
    height: 50px;
}

.search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    width: 380px;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 15px;
    font-size: 15px;
}

.search-box button {
    border: none;
    background: white;
    cursor: pointer;
    padding: 0 15px;
    font-size: 18px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 40px;
    background-color: white;
}

main h2 {
    font-size: 60px;
}

main p {
    margin-top: 0;
    transform: translateY(-90%);
}

.button {
    display: inline-flex;
    padding: 20px 32px;
    background-color: #962525;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;

}
footer {
    background-color: #222;
    color: white;
    padding: 20px 40px;
    text-align: center;
}